<h1>Información de Peliculas</h1>

<script type="text/javascript" src="/FilmInfo.js"></script>
<script type="text/javascript" src="/main.js"></script>

<script type="text/javascript">
	function WriteToFile(){
	var fso = new ActiveXObject("Scripting.FileSystemObject");
	var s = fso.CreateTextFile("C:\\FilmInfo.html", true);
	var text = document.getElementById("#OUTPUT").innerText;
	s.WriteLine(text);
	s.WriteLine("inventado");
	s.Close();
	}
</script>

<div id="contenido">
    <p>
    <div id='filemenu'>
    <ul>
      <% programs.sort.each do |p| %>
      <li><a href="<%= p.name %>" <%=actual?('/'+p.name)%>><%= p.name %></a></li>
      <% end %>
    </ul>
    </div>
    <br><br>
	<table>
		<tbody>
			<tr>
				<td><form action="/save" method="post">
				  <textarea id="input" name="input" autofocus cols = "400" rows = "4"><%= source %></textarea>
				  <br>
				</td>
			</tr>
			<tr>
				<td>
				  <label for="saveas">Save as</label>
				  <input id="saveas" type="text" name="fname" title="identificador" pattern="^(?!test$)\w+$"/>
				</form>
				</td>
			</tr>
			<tr>
				<td>
					<br>
					<button class="button" id="parse" type="button">Parse</button>
				</td>
			</tr>
		</tbody>
	</table>
    </p>

  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  
  <div class="output"><!-- Salida del programa --> 
    <pre id ="OUTPUT">
		Copia el html generado aquí
    </pre>

	
	<button class="button" id="DownButton" type="button" onclick="alert(`roman es tonto`)">Download</button>
  </div>
</div> 