<h1>Información de Peliculas</h1>

<script type="text/javascript" src="/FilmInfo.js"></script>
<script type="text/javascript" src="/main.js"></script>

<script type="text/javascript">
	function WriteToFile(p1, p2){
		alert(p1 + p2);
	}
</script>
	
    <div id='filemenu'>
    <ul>
      <% programs.sort.each do |p| %>
      <li><a href="<%= p.name %>" <%=actual?('/'+p.name)%>><%= p.name %></a></li>
      <% end %>
    </ul>
    </div>
    <br><br>
	<table>
		<tbody>
			<tr>
				<td><form action="/save" method="post">
				  <textarea id="input" name="input" autofocus ><%= source %></textarea>
				  <br>
				</td>
			</tr>
			<tr>
				<td>
				  <label for="saveas">Save as</label>
				  <input id="saveas" type="text" name="fname" title="identificador" pattern="^(?!test$)\w+$"/>
				</form>
				
				</td>
			</tr>
			<tr>
				<td>
					<br>
					<button class="button" id="parse" type="button">Parse</button>
				</td>
			</tr>
		</tbody>
	</table>
   

  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  
    <pre id ="OUTPUT">
		Copia el html generado aquí
    </pre>

	
	<button class="button" type="button" onclick="alert('añlskdñlksdnf´ñadsljádslfmjñdslakfdasñfdsafnhjakdsbfkñjnñasodfnñn');" >DOWNLOAD</button>
	<button class="button" type="button" onclick="WriteToFile(8 , 3);">DOWNLOAD</button>
	<button class="button" onclick="save(this, 'codigo.html');">DOWNLOAD</button>
