<h1>Información de Peliculas</h1>

<script type="text/javascript" src="/FilmInfo.js"></script>
<script type="text/javascript" src="/main.js"></script>
	
	
<script>
function descargarArchivo(contenidoEnBlob, nombreArchivo) {
    var reader = new FileReader();
    reader.onload = function (event) {
        var save = document.createElement('a');
        save.href = event.target.result;
        save.target = '_blank';
        save.download = nombreArchivo || 'archivo.dat';
        var clicEvent = new MouseEvent('click', {
            'view': window,
                'bubbles': true,
                'cancelable': true
        });
        save.dispatchEvent(clicEvent);
        (window.URL || window.webkitURL).revokeObjectURL(save.href);
    };
    reader.readAsDataURL(contenidoEnBlob);
};

function obtenerDatos() {
    return {
        document.getElementById('OUTPUT').value
    };
};

function generarTexto(datos) {
    var texto = [];
    texto.push(datos);
    return new Blob(texto, {
        type: 'text/plain'
    });
};
	
function Descarga(){
	var datos = obtenerDatos();
    descargarArchivo(generarTexto(datos), 'FilmInfo.html');
}

</script>

    <div id='filemenu'>
    <ul>
      <% programs.sort.each do |p| %>
      <li><a href="<%= p.name %>" <%=actual?('/'+p.name)%>><%= p.name %></a></li>
      <% end %>
    </ul>
    </div>
    <br><br>
	<table>
		<tbody>
			<tr>
				<td><form action="/save" method="post">
				  <textarea id="input" name="input" autofocus ><%= source %></textarea>
				  <br>
				</td>
			</tr>
			<tr>
				<td>
				  <label for="saveas">Save as</label>
				  <input id="saveas" type="text" name="fname" title="identificador" pattern="^(?!test$)\w+$"/>
				</form>
				
				</td>
			</tr>
			<tr>
				<td>
					<br>
					<button class="button" id="parse" type="button">Parse</button>
				</td>
			</tr>
		</tbody>
	</table>
   

  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  
    <pre id ="OUTPUT">
		Copia el html generado aquí
    </pre>

	<button id="Descarga" type="button" onclick="Descarga()" >DOWNLOAD</button>
